@model Controle_Ativos.ViewModel.TipoPatrimonioViewModel

@{
    ViewData["Title"] = "Editar";
}

<h4>Tipo Patrimonio</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <a asp-action="Index">Voltar</a>
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
