@model Controle_Ativos.ViewModel.PatrimonioViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataAquisicao" class="control-label"></label>
                        <input asp-for="DataAquisicao" class="form-control" />
                        <span asp-validation-for="DataAquisicao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataSaida" class="control-label"></label>
                        <input asp-for="DataSaida" class="form-control" />
                        <span asp-validation-for="DataSaida" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumeroPatrimonio" class="control-label"></label>
                        <input asp-for="NumeroPatrimonio" class="form-control" />
                        <span asp-validation-for="NumeroPatrimonio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Valor" class="control-label"></label>
                        <input asp-for="Valor" class="form-control"/>
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label asp-for="Ativo" class="control-label"></label>
                        <input class="form-check-input" asp-for="Ativo" />@Html.CheckBoxFor(x => x.Ativo, new { @checked = "checked" })
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoPatrimonioId" class="control-label"></label>
                        <select asp-for="TipoPatrimonioId" class="form-control" asp-items="@(new SelectList(Model.TipoPatrimonios, "Id", "Descricao"))">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index">Voltar</a>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }