@{
    ViewData["Title"] = "Controle de Ativos";
}
<head>
    <title>
        Home
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!-- CSS Files -->
    <link href="~/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-user-circle"></i>
                        </div>
                        <p class="card-category">Funcionários</p>
                        <h3 class="card-title">
                            50
                            <small></small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Valor Total</p>
                        <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Emprestimos</p>
                        <h3 class="card-title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <p class="card-category">Manutenção</p>
                        <h3 class="card-title">10</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Relatórios de Ativos</h4>
                        <p class="card-category">
                            <button type="button" class="btn btn-outline-primary" value='Call Procedure' id='BtnId'>Gerar Relatório</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Relatório de Inventario</h4>
                        <p class="card-category">
                            <button type="button" class="btn btn-outline-primary">Gerar Relatório</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Relatório Emprestimos</h4>
                        <p class="card-category">
                            <button type="button" class="btn btn-outline-primary">Gerar Relatório</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Relatórios de Ativos na Sede</h4>
                        <p class="card-category">
                            <button type="button" class="btn btn-outline-primary">Gerar Relatório</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Relatório de Ativos Inutilizados</h4>
                        <p class="card-category">
                            <button type="button" class="btn btn-outline-primary">Gerar Relatório</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Relatório de Ativos Disponiveis</h4>
                        <p class="card-category">
                            <button type="button" class="btn btn-outline-primary">Gerar Relatório</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-dashboard.js?v=2.1.0"></script>
</body>