@{
    ViewData["Title"] = "Controle de Ativos";
}
<head>
    <title>
        Template
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!-- CSS Files -->
    <link href="~/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="Introducao">
        <h2>Controle de Ativos Meta3</h2>
        <img src="~/img/schedule.svg" alt="Organizando" />
        <button type="button" class="btn btn-outline-primary">Ativos</button>
        <button type="button" class="btn btn-outline-primary">Emprestados</button>
        <button type="button" class="btn btn-outline-primary">Disponiveis</button>
        <button type="button" class="btn btn-outline-primary">Inutilizados</button>
    </div>
</body>